In [2]:
import pandas as pd
df_ventas = pd.read_csv("data_ventas.csv")
print(df_ventas)

           Mes  Ventas            Ciudad
0        Enero   23000          Santiago
1      Febrero   34000      Buenos Aires
2        Marzo   29000              Lima
3        Abril   15000            Bogotá
4         Mayo   31000  Ciudad de México
5        Junio   22000           Caracas
6        Julio   25000          Santiago
7       Agosto   37000      Buenos Aires
8   Septiembre   40000              Lima
9      Octubre   45000            Bogotá
10   Noviembre   42000  Ciudad de México
11   Diciembre   38000           Caracas
12       Enero   24000          Santiago
13     Febrero   33000      Buenos Aires
14       Marzo   27000              Lima
15       Abril   16000            Bogotá
16        Mayo   30000  Ciudad de México
17       Junio   21000           Caracas
18       Julio   26000          Santiago
19      Agosto   36000      Buenos Aires
20  Septiembre   41000              Lima
21     Octubre   43000            Bogotá
22   Noviembre   39000  Ciudad de México
23   Diciembre   35000           Caracas
24       Enero   28000          Santiago
25     Febrero   32000      Buenos Aires
26       Marzo   23000              Lima
27       Abril   18000            Bogotá
28        Mayo   25000  Ciudad de México
29       Junio   27000           Caracas

In [3]:
ventas_5= df_ventas.loc[5]
print(ventas_5)

es_mayor_30000= df_ventas.loc[5,"Ventas"]>30000
print(es_mayor_30000)

Mes         Junio
Ventas      22000
Ciudad    Caracas
Name: 5, dtype: object
False

In [4]:
venta_9= df_ventas.iloc[9]
print(venta_9)
ciudad_venta_9= df_ventas.iloc[9]["Ciudad"]
print(ciudad_venta_9)

Mes       Octubre
Ventas      45000
Ciudad     Bogotá
Name: 9, dtype: object
Bogotá

In [5]:
def obtener_mes_venta(df,indice):
  mes = df.loc[indice,"Mes"]
  venta = df.loc[indice,"Ventas"]
  return mes, venta

mes, venta= obtener_mes_venta(df_ventas, 20)
print(f"El mes es {mes} y la venta fue de {venta}")

El mes es Septiembre y la venta fue de 41000